<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/styles.css') }}" />
        <title>{% block title %}Unit Conversions{% endblock %}</title>
    </head>
    <body>
        <main>
            <h2>{% block formTitle %}Unit Conversion{% endblock %}</h2>
            <div class="navlinks">
                <a href="/" {% block length_nav %}{%endblock%}>Length</a>
                <a href="/weight" {% block width_nav %}{%endblock%}>Weight</a>
                <a href="/temperature" {% block temperature_nav %}{%endblock%}
                    >Temperature</a
                >
            </div>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>
