{% extends "base.html" %}
<!-- Title -->
{% block title %}Length Conversions{% endblock%}

<!-- Form Title -->
{% block formTitle %}Temperature Unit Conversion{% endblock %}

<!-- NavLink -->
{% block length_nav %}class="active"{% endblock %}

<!-- Form -->
{% block content %}
<form action="/submit" method="post">
    <input type="text" name="type_of" id="type_of" hidden value="length" />
    <div>
        <label for="value">Enter the length to convert</label>
        <input type="number" id="value" name="value" />
    </div>
    <div>
        <label for="convertFrom">Unit to convert from</label>
        <select name="convertFrom" id="convertFrom">
            <option value="no-selection">Select any unit</option>
            {% for unit in units %}
            <option value="{{unit[1]}}">{{unit[0]}}</option>

            {% endfor %}
        </select>
    </div>
    <div>
        <label for="convertTo">Unit to convert to</label>
        <select name="convertTo" id="convertTo">
            <option value="no-selection">Select any unit</option>
            {% for unit in units %}
            <option value="{{unit[1]}}">{{unit[0]}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Convert</button>
</form>
{% endblock %}
